<body>
  <h1>Event schedule</h1>

  <table>
		<% @schedule.each do |time_task_pair| %>
    <tr>
			<td><%=time_task_pair.first %></td>
			<td><%=time_task_pair.last %></td>
    </tr>
		<% end %>
	</table>
