<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Event Manager 2.0</title>

  </head>
  <body>
    <div class="container">
      <h1>Event schedule</h1>

      <table class='table'>
        <tr>
          <td>8pm</td>
          <td>Doors open</td>
        </tr>
        <!-- etc. etc. -->
      </table>
    </div>

  </body>
</html>
